%container {
    width: 80%;
    margin: 0 auto;
    font-family: $font-path;
    @media (max-width:930px) {
        width: 90%;
    }
}
%button {
    max-width: 255px;
    width: 100%;
    min-height: 70px;
    border: 1px solid #7875fe;
    color: #7875fe;
    font-size: 1.25em;
}
%flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
