%container {
    width: 80%;
    margin: 0 auto;
    font-family: $font;
}
%button {
    max-width: 255px;
    width: 100%;
    min-height: 70px;
    border: 1px solid #7875FE;
    color: #7875FE;
    font-size: calc(18px + 2 * (100vw/1440));
}