.date, .contacts .contacts__container, .sketchbook__container, .clients .clients__container, .products__container, .max-whiteness .max-whiteness__container, .paper-things__container, .nav__container {
  width: 80%;
  margin: 0 auto;
  font-family: "Roboto-Regular";
}
@media (max-width: 930px) {
  .date, .contacts .contacts__container, .sketchbook__container, .clients .clients__container, .products__container, .max-whiteness .max-whiteness__container, .paper-things__container, .nav__container {
    width: 90%;
  }
}

.sketchbook__container .sketchbook__content .sketchbook__btn, .paper-things__container .paper-things__content .paper-things__content-button {
  max-width: 255px;
  width: 100%;
  min-height: 70px;
  border: 1px solid #7875fe;
  color: #7875fe;
  font-size: 1.25em;
  background-color: white;
}

.products__container, .max-whiteness .max-whiteness__container .max-whiteness__info, .max-whiteness .max-whiteness__container .max-whiteness__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Roboto-Medium.ttf);
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
}
@media (max-width: 930px) {
  .nav__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.nav__container .nav__logo {
  flex-basis: 30%;
}
@media (max-width: 930px) {
  .nav__container .nav__logo {
    grid-row: 1;
  }
}
@media (max-width: 550px) {
  .nav__container .nav__logo {
    justify-self: center;
  }
}
.nav__container .nav__link {
  flex-grow: 1;
}
@media (max-width: 930px) {
  .nav__container .nav__link {
    grid-row: 2;
  }
}
@media (max-width: 550px) {
  .nav__container .nav__link {
    display: none;
  }
}
.nav__container .nav__link .nav__link-ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.nav__container .nav__link .nav__link-ul .nav__link-href {
  text-decoration: none;
  color: #4c5866;
}

.nav__burger {
  display: none;
}
@media (max-width: 550px) {
  .nav__burger {
    display: block;
    grid-row: 2;
  }
}

.nav__icon {
  flex-basis: 7%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 930px) {
  .nav__icon {
    grid-row: 1;
  }
}
@media (max-width: 550px) {
  .nav__icon {
    grid-row: 2;
  }
}
@media (max-width: 550px) {
  .nav__icon .nav__icon-search {
    margin-right: 20%;
  }
}

.header__line {
  width: 100%;
}

.paper-things__container {
  display: flex;
  min-height: 100%;
  justify-content: space-between;
  padding-top: 5%;
  gap: 1%;
}
.paper-things__container .paper-things__content {
  width: 50%;
}
@media (max-width: 1123px) {
  .paper-things__container .paper-things__content {
    width: 60%;
  }
}
@media (max-width: 930px) {
  .paper-things__container .paper-things__content {
    width: 60%;
  }
}
@media (max-width: 550px) {
  .paper-things__container .paper-things__content {
    width: 100%;
  }
}
.paper-things__container .paper-things__content .paper-things__content-heading {
  font-size: calc(30px + 1.3888888889vw);
  line-height: 100%;
  color: #4c5866;
}
.paper-things__container .paper-things__content .paper-things__content-text {
  font-size: 1.125em;
  line-height: 150%;
  color: #85859b;
}
.paper-things__container .paper-things__content .paper-things__content-button {
  margin-top: 5%;
}
@media (max-width: 550px) {
  .paper-things__container .paper-things__content .paper-things__content-button {
    margin-top: 0;
    margin-bottom: 10%;
  }
}
@media (max-width: 1123px) {
  .paper-things__container .paper-things__images {
    display: none;
  }
}
.paper-things__container .paper-things__images-adaptiv {
  display: none;
}
@media (max-width: 1123px) {
  .paper-things__container .paper-things__images-adaptiv {
    display: block;
  }
}
@media (max-width: 550px) {
  .paper-things__container .paper-things__images-adaptiv {
    display: none;
  }
}

.max-whiteness {
  background-color: #ebebeb;
  padding: 5% 0 7%;
}
.max-whiteness .max-whiteness__container .max-whiteness__items .max-whiteness__item {
  max-width: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
  gap: 10px;
  border-top: 1px solid #c0c0c0;
}
.max-whiteness .max-whiteness__container .max-whiteness__items .max-whiteness__item .max-whiteness__item-title {
  font-family: "Roboto-Medium";
  font-weight: 500;
  color: #666666;
  margin: 0;
}
.max-whiteness .max-whiteness__container .max-whiteness__items .max-whiteness__item .max-whiteness__item-text {
  color: #85859b;
  margin: 0;
}
@media (max-width: 768px) {
  .max-whiteness .max-whiteness__container .max-whiteness__items .max-whiteness__item {
    max-width: 210px;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
  }
}
@media (max-width: 576px) {
  .max-whiteness .max-whiteness__container .max-whiteness__items .max-whiteness__item {
    max-width: 150px;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
  }
  .max-whiteness .max-whiteness__container .max-whiteness__items .max-whiteness__item .max-whiteness__item-img {
    max-width: 140px;
  }
}
@media (max-width: 320px) {
  .max-whiteness .max-whiteness__container .max-whiteness__items .max-whiteness__item {
    max-width: 290px;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 4% 0;
  }
  .max-whiteness .max-whiteness__container .max-whiteness__items .max-whiteness__item .max-whiteness__item-img {
    max-width: 130px;
  }
  .max-whiteness .max-whiteness__container .max-whiteness__items .max-whiteness__item .max-whiteness__item-descr {
    max-width: 130px;
    font-size: 0.8em;
  }
}
@media (max-width: 320px) {
  .max-whiteness .max-whiteness__container .max-whiteness__items {
    justify-content: center;
  }
}
.max-whiteness .max-whiteness__container .max-whiteness__info {
  margin-top: 7%;
}
.max-whiteness .max-whiteness__container .max-whiteness__info .max-whiteness__info-img {
  max-width: 730px;
  max-height: 564px;
}
@media (max-width: 1350px) {
  .max-whiteness .max-whiteness__container .max-whiteness__info .max-whiteness__info-img {
    max-width: 530px;
    max-height: 409px;
  }
}
@media (max-width: 768px) {
  .max-whiteness .max-whiteness__container .max-whiteness__info .max-whiteness__info-img {
    max-width: 330px;
    max-height: 256px;
  }
}
@media (max-width: 576px) {
  .max-whiteness .max-whiteness__container .max-whiteness__info .max-whiteness__info-img {
    max-width: 330px;
    max-height: 255px;
  }
}
@media (max-width: 320px) {
  .max-whiteness .max-whiteness__container .max-whiteness__info .max-whiteness__info-img {
    max-width: 290px;
    max-height: 233px;
  }
}
.max-whiteness .max-whiteness__container .max-whiteness__info .max-whiteness__info-descr {
  max-width: 350px;
}
.max-whiteness .max-whiteness__container .max-whiteness__info .max-whiteness__info-descr .max-whiteness__info-title {
  color: #666666;
  font-size: 2.5em;
  font-weight: 400;
  margin: 0;
}
@media (max-width: 768px) {
  .max-whiteness .max-whiteness__container .max-whiteness__info .max-whiteness__info-descr .max-whiteness__info-title {
    font-size: 2em;
  }
}
@media (max-width: 576px) {
  .max-whiteness .max-whiteness__container .max-whiteness__info .max-whiteness__info-descr .max-whiteness__info-title {
    font-size: 1.5em;
  }
}
@media (max-width: 320px) {
  .max-whiteness .max-whiteness__container .max-whiteness__info .max-whiteness__info-descr .max-whiteness__info-title {
    font-size: 1.5em;
  }
}
.max-whiteness .max-whiteness__container .max-whiteness__info .max-whiteness__info-descr .max-whiteness__info-text {
  color: #85859b;
  font-size: 1.125em;
  line-height: 170%;
}
@media (max-width: 768px) {
  .max-whiteness .max-whiteness__container .max-whiteness__info .max-whiteness__info-descr .max-whiteness__info-text {
    font-size: 1.125em;
  }
}
@media (max-width: 576px) {
  .max-whiteness .max-whiteness__container .max-whiteness__info .max-whiteness__info-descr .max-whiteness__info-text {
    font-size: 1em;
  }
}
@media (max-width: 320px) {
  .max-whiteness .max-whiteness__container .max-whiteness__info .max-whiteness__info-descr .max-whiteness__info-text {
    font-size: 1em;
  }
}
@media (max-width: 768px) {
  .max-whiteness .max-whiteness__container .max-whiteness__info .max-whiteness__info-descr {
    max-width: 330px;
  }
}
@media (max-width: 576px) {
  .max-whiteness .max-whiteness__container .max-whiteness__info .max-whiteness__info-descr {
    max-width: 510px;
  }
}
@media (max-width: 320px) {
  .max-whiteness .max-whiteness__container .max-whiteness__info .max-whiteness__info-descr {
    max-width: 290px;
  }
}

.products__container {
  flex-direction: row;
  align-items: center;
  min-height: 645px;
}
.products__container .products__item {
  flex-grow: 1;
  max-width: 255px;
  min-height: 465px;
}
.products__container .products__item .products__item-image {
  background: #ebebeb;
}
.products__container .products__item .products__item-title-first {
  font-size: 1.875em;
  color: #666666;
}
.products__container .products__item .products__item-title-second {
  font-size: 0.875em;
  color: #b5b5bd;
}
.products__container .products__item .products__item-text {
  max-width: 255px;
  min-height: 155px;
  color: #85859b;
}
.products__container .products__item .products__item-link {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  font-size: 20px;
  color: #7875fe;
  align-items: center;
}

.clients {
  background-color: #ebebeb;
}
.clients .clients__container {
  min-height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1150px) {
  .clients .clients__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1f);
    justify-items: center;
  }
}
@media (max-width: 604px) {
  .clients .clients__container {
    display: flex;
    flex-direction: column;
  }
}
.clients .clients__container .clients__name {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 255px;
  min-height: 135px;
  border: 1px solid #c4c4c4;
}
@media (max-width: 1150px) {
  .clients .clients__container .clients__name {
    max-width: 240px;
    max-height: 127px;
    margin: 5%;
  }
}
@media (max-width: 604px) {
  .clients .clients__container .clients__name {
    min-width: 255px;
    min-height: 135px;
    margin: 4% 0;
  }
}
.clients .clients__container .clients__name .clients__logo {
  max-width: 225px;
}
@media (max-width: 1150px) {
  .clients .clients__container .clients__name .clients__logo {
    max-width: 187px;
  }
}

.sketchbook__container {
  display: grid;
  grid-template-columns: 35% 65%;
  padding-top: 8%;
}
@media (max-width: 1170px) {
  .sketchbook__container {
    display: flex;
    flex-direction: column-reverse;
  }
}
.sketchbook__container .sketchbook__content {
  padding-right: 10%;
}
@media (max-width: 1170px) {
  .sketchbook__container .sketchbook__content {
    margin-top: 5%;
  }
}
.sketchbook__container .sketchbook__content .sketchbook__header {
  font-size: 2.5em;
  color: #666666;
}
@media (max-width: 350px) {
  .sketchbook__container .sketchbook__content .sketchbook__header {
    font-size: 1.5em;
  }
}
.sketchbook__container .sketchbook__content .sketchbook__text {
  font-size: 1.125em;
  line-height: 170%;
  color: #85859b;
}
@media (max-width: 350px) {
  .sketchbook__container .sketchbook__content .sketchbook__text {
    font-size: 1em;
  }
}
.sketchbook__container .sketchbook__content .sketchbook__btn {
  margin-top: 5%;
}
@media (max-width: 1170px) {
  .sketchbook__container .sketchbook__content .sketchbook__btn {
    margin-bottom: 10%;
  }
}
@media (max-width: 350px) {
  .sketchbook__container .sketchbook__content .sketchbook__btn {
    display: none;
  }
}
.sketchbook__container .sketchbook__btn-catalog {
  display: none;
}
@media (max-width: 350px) {
  .sketchbook__container .sketchbook__btn-catalog {
    display: block;
    max-width: 144px;
    width: 100%;
    min-height: 50px;
    border: 1px solid #7875fe;
    color: #7875fe;
    font-size: 1.125em;
    background-color: white;
    margin-bottom: 10%;
  }
}
.sketchbook__container .sketchbook__image {
  margin-left: 3.2%;
}

.sketchbook-page {
  width: 100%;
}

.contacts {
  background-color: #4c5866;
}
.contacts .contacts__container {
  min-height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 400px) {
  .contacts .contacts__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (max-width: 400px) {
  .contacts .contacts__container .contacts__logo {
    text-align: center;
    border-bottom: 1px solid #dddddd;
    padding: 5% 0;
  }
}
.contacts .contacts__container .contacts__social-network {
  min-width: 186px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 400px) {
  .contacts .contacts__container .contacts__social-network {
    justify-content: space-around;
  }
}

.date {
  text-align: center;
  color: #4c5866;
  font-size: 0.8125em;
}/*# sourceMappingURL=style.css.map */