@import'./vars';
@import'./template';

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}


.nav__container {
    @extend %container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;

    .nav__logo {
        flex-basis: 30%;
    }

    .nav__link {
        flex-grow: 1;

        .nav__link-ul {
            list-style: none;
            display: flex;
            justify-content: space-around;

            .nav__link-li {
                .nav__link-href {
                    text-decoration: none;
                    color: $nav;
                }
            }
        }
    }

    .nav__icon {
        flex-basis: 7%;
        justify-content: space-between;

        .nav__icon-exit {
            margin-left: 15%;
        }
    }
}

.header__line {
    width: 100%;
}

.paper-things__container {
    @extend %container;
    display: flex;
    min-height: 100%;

    padding-top: 5%;
    gap: 13%;

    .paper-things__content {
        width: 40%;

        .paper-things__content-heading {
            font-size: calc(38px + 22 * (100vw/1440));
            line-height: 100%;
            color: #4C5866;

        }

        .paper-things__content-text {
            font-size: 1.125em;
            line-height: 150%;
            color: #85859B;
        }

        .paper-things__content-button {
            @extend %button;
            margin-top: 10%;
        }
    }
}

.clients {
    background-color: $background;

    .clients__container {
        @extend %container;
        min-height: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .clients__name {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 255px;
            min-height: 135px;
            border: 1px solid #C4C4C4;

            .clients__logo {
                max-width: 225px;
            }
        }
    }
}

.sketchbook__container {
    @extend %container;
    display: flex;
    flex-direction: row;
    padding-top: 8%;

    .sketchbook__content {
        min-width: 350px;
        margin-right: 30px;

        .sketchbook__header {
            font-size: 2.5em;
            color: #666666;
        }

        .sketchbook__text {
            font-size: $font-basic;
            line-height: 170%;
            color: #85859B;
        }

        .sketchbook__btn {
            @extend %button;
            background-color: white;
            margin-top: 5%;
        }
    }

    .sketchbook__image {
        max-width: 730px;
        margin-left: 3.2%;
    }
}

.contacts {
    background-color: #4C5866;

    .contacts__container {
        @extend %container;
        min-height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .contacts__social-network {
            min-width: 186px;
            display: flex;
            justify-content: space-between;
        }
    }
}

.date {
    @extend %container;
    text-align: center;
}