@import './vars';
@import './template';

@font-face {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Medium';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Roboto-Medium.ttf);
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.nav__container {
    @extend %container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;

    @media (max-width: 930px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .nav__logo {
        flex-basis: 30%;

        @media (max-width: 930px) {
            grid-row: 1;
        }

        @media (max-width: 550px) {
            justify-self: center;
        }
    }

    .nav__link {
        flex-grow: 1;

        @media (max-width: 930px) {
            grid-row: 2;
        }

        @media (max-width: 550px) {
            display: none;
        }

        .nav__link-ul {
            list-style: none;
            display: flex;
            justify-content: space-around;

            .nav__link-href {
                text-decoration: none;
                color: $nav;
            }
        }
    }
}

.nav__burger {
    display: none;

    @media (max-width: 550px) {
        display: block;
        grid-row: 2;
    }
}

.nav__icon {
    flex-basis: 7%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 930px) {
        grid-row: 1;
    }

    @media (max-width: 550px) {
        grid-row: 2;
    }

    .nav__icon-search {
        @media (max-width: 550px) {
            margin-right: 20%;
        }
    }
}

.header__line {
    width: 100%;
}

.paper-things__container {
    @extend %container;
    display: flex;
    min-height: 100%;
    justify-content: space-between;
    padding-top: 5%;
    gap: 1%;

    .paper-things__content {
        width: 50%;

        @media (max-width: 1123px) {
            width: 60%;
        }

        @media (max-width: 930px) {
            width: 60%;
        }

        @media (max-width: 550px) {
            width: 100%;
        }

        .paper-things__content-heading {
            font-size: calc(30px + 20 * (100vw / 1440));
            line-height: 100%;
            color: $nav;
        }

        .paper-things__content-text {
            font-size: 1.125em;
            line-height: 150%;
            color: $text-color;
        }

        .paper-things__content-button {
            @extend %button;
            margin-top: 5%;

            @media (max-width: 550px) {
                margin-top: 0;
                margin-bottom: 10%;
            }
        }
    }

    .paper-things__images {
        @media (max-width: 1123px) {
            display: none;
        }
    }

    .paper-things__images-adaptiv {
        display: none;

        @media (max-width: 1123px) {
            display: block;
        }

        @media (max-width: 550px) {
            display: none;
        }
    }
}

.max-whiteness {
    background-color: $second-bg-color;
    padding: 5% 0 7%;
    .max-whiteness__container {
        @extend %container;
        .max-whiteness__items {
            @extend %flex;
            .max-whiteness__item {
                max-width: 350px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 1%;
                gap: 10px;
                border-top: 1px solid #c0c0c0;
                .max-whiteness__item-title {
                    font-family: 'Roboto-Medium';
                    font-weight: 500;
                    color: $sub-title-color;
                    margin: 0;
                }
                .max-whiteness__item-text {
                    color: $text-color;
                    margin: 0;
                }
                @media (max-width: 768px) {
                    max-width: 210px;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    gap: 10px;
                }
                @media (max-width: 576px) {
                    max-width: 150px;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    gap: 10px;
                    .max-whiteness__item-img {
                        max-width: 140px;
                    }
                }
                @media (max-width: 320px) {
                    max-width: 290px;
                    gap: 10px;
                    justify-content: space-between;
                    flex-wrap: nowrap;
                    padding: 4% 0;
                    .max-whiteness__item-img {
                        max-width: 130px;
                    }
                    .max-whiteness__item-descr {
                        max-width: 130px;
                        font-size: 0.8em;
                    }
                }
            }
            @media (max-width: 320px) {
                justify-content: center;
            }
        }
        .max-whiteness__info {
            @extend %flex;
            margin-top: 7%;
            .max-whiteness__info-img {
                max-width: 730px;
                max-height: 564px;
                @media (max-width: 1350px) {
                    max-width: 530px;
                    max-height: 409px;
                }
                @media (max-width: 768px) {
                    max-width: 330px;
                    max-height: 256px;
                }
                @media (max-width: 576px) {
                    max-width: 330px;
                    max-height: 255px;
                }
                @media (max-width: 320px) {
                    max-width: 290px;
                    max-height: 233px;
                }
            }
            .max-whiteness__info-descr {
                max-width: 350px;
                .max-whiteness__info-title {
                    color: $sub-title-color;
                    font-size: 2.5em;
                    font-weight: 400;
                    margin: 0;
                    @media (max-width: 768px) {
                        font-size: 2em;
                    }
                    @media (max-width: 576px) {
                        font-size: 1.5em;
                    }
                    @media (max-width: 320px) {
                        font-size: 1.5em;
                    }
                }
                .max-whiteness__info-text {
                    color: $text-color;
                    font-size: 1.125em;
                    line-height: 170%;
                    @media (max-width: 768px) {
                        font-size: 1.125em;
                    }
                    @media (max-width: 576px) {
                        font-size: 1em;
                    }
                    @media (max-width: 320px) {
                        font-size: 1em;
                    }
                }
                @media (max-width: 768px) {
                    max-width: 330px;
                }
                @media (max-width: 576px) {
                    max-width: 510px;
                }
                @media (max-width: 320px) {
                    max-width: 290px;
                }
            }
        }
    }
}

.products__container {
    @extend %container;
    @extend %flex;
    flex-direction: row;
    align-items: center;
    min-height: 645px;

    .products__item {
        flex-grow: 1;
        max-width: 255px;
        min-height: 465px;

        .products__item-image {
            background: #ebebeb;
        }

        .products__item-title-first {
            font-size: 1.875em;
            color: $sub-title-color;
        }

        .products__item-title-second {
            font-size: 0.875em;
            color: #b5b5bd;
        }

        .products__item-text {
            max-width: 255px;
            min-height: 155px;
            color: $text-color;
        }

        .products__item-link {
            display: inline-flex;
            align-items: center;
            gap: 5px;
            text-decoration: none;
            font-size: 20px;
            color: #7875fe;
            align-items: center;
        }
    }
}

.clients {
    background-color: $second-bg-color;

    .clients__container {
        @extend %container;
        min-height: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 1150px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1f);
            justify-items: center;
        }

        @media (max-width: 604px) {
            display: flex;
            flex-direction: column;
        }

        .clients__name {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 255px;
            min-height: 135px;
            border: 1px solid #c4c4c4;

            @media (max-width: 1150px) {
                max-width: 240px;
                max-height: 127px;
                margin: 5%;
            }

            @media (max-width: 604px) {
                min-width: 255px;
                min-height: 135px;
                margin: 4% 0;
            }

            .clients__logo {
                max-width: 225px;

                @media (max-width: 1150px) {
                    max-width: 187px;
                }
            }
        }
    }
}

.sketchbook__container {
    @extend %container;
    display: grid;
    grid-template-columns: 35% 65%;
    padding-top: 8%;

    @media (max-width: 1170px) {
        display: flex;
        flex-direction: column-reverse;
    }

    .sketchbook__content {
        padding-right: 10%;

        @media (max-width: 1170px) {
            margin-top: 5%;
        }

        .sketchbook__header {
            font-size: 2.5em;
            color: $sub-title-color;

            @media (max-width: 350px) {
                font-size: 1.5em;
            }
        }

        .sketchbook__text {
            font-size: 1.125em;
            line-height: 170%;
            color: $text-color;

            @media (max-width: 350px) {
                font-size: 1em;
            }
        }

        .sketchbook__btn {
            @extend %button;
            margin-top: 5%;

            @media (max-width: 1170px) {
                margin-bottom: 10%;
            }

            @media (max-width: 350px) {
                display: none;
            }
        }
    }

    .sketchbook__btn-catalog {
        display: none;

        @media (max-width: 350px) {
            display: block;
            max-width: 144px;
            width: 100%;
            min-height: 50px;
            border: 1px solid #7875fe;
            color: #7875fe;
            font-size: 1.125em;
            background-color: white;
            margin-bottom: 10%;
        }
    }

    .sketchbook__image {
        margin-left: 3.2%;
    }
}

.sketchbook-page {
    width: 100%;
}

.contacts {
    background-color: $nav;

    .contacts__container {
        @extend %container;
        min-height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 400px) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }

        .contacts__logo {
            @media (max-width: 400px) {
                text-align: center;
                border-bottom: 1px solid #dddddd;
                padding: 5% 0;
            }
        }

        .contacts__social-network {
            min-width: 186px;
            display: flex;
            justify-content: space-between;

            @media (max-width: 400px) {
                justify-content: space-around;
            }
        }
    }
}

.date {
    @extend %container;
    text-align: center;
    color: $nav;
    font-size: 0.8125em;
}
