.max-whiteness .max-whiteness__container, .paper-things__container, .nav__container {
  width: 80%;
  margin: 0 auto;
  font-family: "Roboto-Regular";
}
@media (max-width: 930px) {
  .max-whiteness .max-whiteness__container, .paper-things__container, .nav__container {
    width: 90%;
  }
}

.paper-things__container .paper-things__content .paper-things__content-button {
  max-width: 255px;
  width: 100%;
  min-height: 70px;
  border: 1px solid #7875fe;
  color: #7875fe;
  font-size: 1.25em;
}

.max-whiteness .max-whiteness__container .max-whiteness__info, .max-whiteness .max-whiteness__container .max-whiteness__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
}
@media (max-width: 930px) {
  .nav__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.nav__container .nav__logo {
  flex-basis: 30%;
}
@media (max-width: 930px) {
  .nav__container .nav__logo {
    grid-row: 1;
  }
}
.nav__container .nav__link {
  flex-grow: 1;
}
@media (max-width: 930px) {
  .nav__container .nav__link {
    grid-row: 2;
  }
}
.nav__container .nav__link .nav__link-ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.nav__container .nav__link .nav__link-ul .nav__link-li .nav__link-href {
  text-decoration: none;
  color: #4c5866;
}

.nav__burger {
  display: none;
}

.nav__icon {
  flex-basis: 7%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 930px) {
  .nav__icon {
    grid-row: 1;
  }
}

.header__line {
  width: 100%;
}

.paper-things__container {
  display: flex;
  min-height: 100%;
  padding-top: 5%;
  gap: 13%;
}
@media (max-width: 930px) {
  .paper-things__container {
    gap: 1%;
    justify-content: space-between;
  }
}
.paper-things__container .paper-things__content {
  width: 40%;
}
@media (max-width: 930px) {
  .paper-things__container .paper-things__content {
    width: 60%;
  }
}
.paper-things__container .paper-things__content .paper-things__content-heading {
  font-size: calc(30px + 1.3888888889vw);
  line-height: 100%;
  color: #4c5866;
}
.paper-things__container .paper-things__content .paper-things__content-text {
  font-size: 1.125em;
  line-height: 150%;
  color: #85859b;
}
.paper-things__container .paper-things__content .paper-things__content-button {
  margin-top: 10%;
}
@media (max-width: 1123px) {
  .paper-things__container .paper-things__images {
    display: none;
  }
}
.paper-things__container .paper-things__images-adaptiv {
  display: none;
}
@media (max-width: 1123px) {
  .paper-things__container .paper-things__images-adaptiv {
    display: block;
  }
}

.max-whiteness {
  background-color: #ebebeb;
  padding: 5% 0 5%;
}
.max-whiteness .max-whiteness__container .max-whiteness__items .max-whiteness__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1%;
  border-top: 1px solid #c0c0c0;
}
.max-whiteness .max-whiteness__container .max-whiteness__info .max-whiteness__info-img {
  flex-basis: 65%;
}
.max-whiteness .max-whiteness__container .max-whiteness__info .max-whiteness__info-descr {
  flex-basis: 35%;
}/*# sourceMappingURL=style.css.map */